<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-5">
    <h2>Thêm danh mục</h2>
    <form method="post" action="/admin/category-form" th:object="${bean}">
    	<!-- Thêm input có type=hidden với id và value tương ứng id danh mục -->
    	<!-- Kiểm tra có id mới thêm input không có thì không cần thêm -->
    	<!-- th:block th:if  -->
    	<th:block th:if="*{id != null && id.isPresent()}">
    		<input type="hidden" name="id" value="*{id.get()}"/>
    	</th:block>
      <div class="mb-3">
        <label for="name" class="form-label">Tên danh mục</label>
        <input th:value="*{name}" type="text" class="form-control" id="name" name="name">
        <small class="text-danger" th:errors="*{name}"></small>
      </div>
      
      <button type="submit" class="btn btn-primary">Thêm danh mục</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>